/*Color Hex Values: 
#FFFFFF White
#A81818 red
#4965a0 fb blue
#438EDE sky blue
#313131 dark grey
#202020 background grey
#CCCCC1 Text grey
*/



/*
-----------------------
HTML TAGS
-----------------------
*/
body{ margin: 0px; background: url('E:/Website/Static Assets/selesnya.png') no-repeat top center; font-family: 'Open Sans' sans-serif; }
h1{ width: 40%; margin: 0.5em 30% 0 30%; text-align: center; font-size:  42pt; font-family:  'Open Sans' sans-serif; }
a{ text-decoration: none; color: inherit;}
p{ font: 400  1.25em 'Open Sans' serif; }



/*
-----------------------
MAIN STYLING
-----------------------
*/
.main-wrapper{ max-width: 50%; margin: 4em auto; }
.main-content{ max-width: 90%; margin: 5% auto; }



/*
-----------------------
NAV BAR STYLING
-----------------------
*/
.nav-wrapper{ width: 50%; margin: 0.5em auto 0 auto; }
.nav{ list-style-type: none; margin: 0; color: #A81818; }
.nav-item{ float: left; width: 20%; text-align: center; }
.nav-item:hover{ text-decoration: underline; text-decoration-color: #4965a0; }



/*
-----------------------
PROJECT STYLING
-----------------------
*/
.project{ margin: 0; }



/*
-----------------------
BLOG STYLING
-----------------------
*/
.post-wrapper{ width: 100%; }
.post-title{ color: black; font-weight: 700; font-size: 1.875em; }
.date{ font-size: 1em; }



/*
-----------------------
RESPONSIVE STYLING
-----------------------
*/
@media (min-width:  1230px){
	.center-hex-wrapper{ margin:  30px 70px; float: left; }
	.left-hex-wrapper{ float: left; }
	.right-hex-wrapper{ float: right; }
}
@media (max-width:  600px){
	.banner-wrapper{ width: 100%; background-image: none; border-bottom:  2px solid rgba(255,255,255,0.6); }
}