html{
  font-family: cambria;
}

h1 {
  text-align: center;
  color: #000000;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

hr{
  border-color: #A81818;
}

li{
  list-style-type: square;
}

#wrapper{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#wrapper2{
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -0.7em;
}

.tight{
  margin-top: 0px;
}

.unidata{
  float: center;
  text-align: center;
  font-size: 80%;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

#adress{
  text-align: left;
  float: left;
  padding-left: 15px;
  font-size: 0.9em;
}

#contact_info{
  text-align: right;
  float: right;
  margin-bottom: 0.5em;
  padding-right: 15px;
  font-size: 0.9em;
}

.subheading{
  font-weight: bold;
  font-size: 115%;
}

.titles{
  font-weight: bold;
}

.date{
  text-align: right;
  float: right;
}
