body{
  background-image:url('Background-maybe.jpg');
  font-family: "Helvetica Neue",Helvetica,sans-serif;
}

h1{
  color: #FFFFFF;
}

hr{
  border-style: solid;
  border-color: #A81818;
}

footer{
  color: #FFFFFF;
  text-align: center;
  width 100px;
  margin: 0 auto;
}

.Bottom_Clear{
  clear:both;
}

.introduction{
  color: white;
  padding: 20px;
  position: relative;
  font-size: 115%;
  text-align: center;
}

.one{
  text-decoration: overline;
}

.body_wrapper{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.hotbar{
  width: 650px;
  height: 39px;
  position: relative;
  margin: 0 auto;
  top: -43px;
}

.external{
  float: left;
  margin-left: 100px;
  width: 35px;
  height: 30px;
  z-index: 2;
}

#number_fact{
  position: relative;
  padding: 10px;
  margin: 0 auto;
  text-align: center;
  color: #FFFFFF;
  font-size: 115%;
  top: 150px;
}
/**************************/
/* Banner */
.banner-wrapper{
  position: relative;
  margin-left:auto;
  margin-right: auto;
  top: -8px;
  width: 650px;
  height: 39px;
}

.banner{
  width: 650px;
  height: 39px;
  margin: 0 auto;
  position: relative;
}
/**************************/

/**************************/
/* Portrait */
.portrait{
  width: 149px;
  height: 100px;
  margin: 0 auto;
  position: relative;
  top: 20px;
  background-image: url('Me.png');
  background-size: 100%;
}
/**************************/

/**************************/
/*Exterior text*/

.name_first{
  text-align: center;
  position: relative;
  margin: 0 auto;
  font-size: 30pt;
  color: 2f4f7a;
}
/**************************/

/**************************/
/*Centre Hexagaon Interior text*/
.inner_text_wrapper{
  position: relative;
  text-align: center;
  width: 250px;
  margin: 0px;
  z-index: 2;
}

.inner_text{
  font-size: 25pt;
  color: #A81818;
}

.work_experience{
  top: 134px;
  margin: 0 auto;
}

.projects{
  top: 288px;
  float: left;
}

.blog{
  top: 288px;
  float: right;
}
/**************************/

/**************************/
/*Interior Text Links*/

a.inner_text:link{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:visited{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:hover{
  color: #A81818;
  text-shadow: 0px 0px 30px #FFFFFF;
}
/**************************/

/**************************/
/*Hexagon Wrappers*/

.center_hex_wrapper{
  width: 500px;
  height: 580px;
  margin: 30px;
  position: relative;
  float: left;
  background-image: url('TEST.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.left_hex_wrapper{
  width: 320px;
  height: 371px;
  margin: 0px;
  float: left;
  background-image: url('TEST.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.right_hex_wrapper{
  width: 320px;
  height: 371px;
  margin: 0px;
  float: right;
  background-image: url('TEST.png');
  background-size: contain;
  background-repeat: no-repeat;
}
/**************************/

/**************************/
/*Inner red lines*/

.inner_leftright{
  width: 250px;
  height: 144px;
  position: absolute;
  top: 144px;
}

.inner_vertical{
  width: 2px;
  height: 292px;
  position: absolute;
  left: 249px;
  bottom: 2px;
}

.inner_left{
  left: 0px;
}

.inner_right{
  right: 0px;
}
/**************************/

/*Color Hex Values:
#FFFFFF White
#A81818 red
#438EDE sky blue
#313131 dark grey
#202020 background grey
*/
