body{
  background-color: #313131;
  /*background-image:url('');*/
  /*background-size:cover;*/
}

h1{
  color: #FFFFFF;
  font-family: Aharoni;
}


hr{
  border-style: solid;
  border-color: #A81818;
}

h2{
  color: #438EDE;
  font-family: Aharoni;
  text-align: center;
}

/**************************/
#content_div{
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/**************************/


/**************************/
/*Small Hexagons*/
.small_hexagon{
  border: 0px;
  margin: 0px;
  padding: 0px;
  width: 100px;
  height: 90px;
  position: relative;
}

#facebook{
  right: 150px;
  bottom: 638px;
  z-index: -3;
}

#fblogo{
  position: relative;
  bottom: 83px;
  left: 5px;
}

#linkedin{
  left: 600px;
  bottom: 728px;
  z-index: -3;
}

#resume{
  right: 150px;
  bottom: 270px;
  z-index: -3;
}

#github{
  left: 600px;
  bottom: 360px;
}

/**************************/


/**************************/
/*Inner Text link attributes*/

a.inner_text:link{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:visited{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:hover{
  color: #A81818;
  text-shadow: 0px 0px 30px #FFFFFF /*#E82C39*/;
}
/**************************/


/**************************/
/*Exterior text*/

#welcome{
  text-align:center;
}

#name{
  position:relative;
  text-align:center;
}
/**************************/



/**************************/
/*Interior text*/

.inner_text{
  font-size: 25pt;
  position: absolute;
  color: #A81818;
}

#projects{
  left: 216px;
  top: 135px;
}

#work_experience{
  left: 50px;
  top: 340px;
}

#education{
  right: 210px;
  top: 340px;
}
/**************************/



/**************************/
/*Outer Hexagon Div*/

.outer_HEX_div{
  width: 550px;
  height: 638px;
  margin: 0 auto;
  position: relative;
}

/*Hexagon Divs*/

.HEX_SIDE{
  /*Ratio:33.022*/
  width: 10px;
  height: 320px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  z-index: -2;
}

.HEX_TOPBOTTOM{
  /*Ratio:1.732*/
  width: 275px;
  height: 159px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  z-index: -2;
}

#hex_upper_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_upper_right{
  float: right;
  clear: right;
  z-index: -2;
}

#hex_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_right{
  float: right;
  clear: right;
  z-index: -2;
}

#hex_lower_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_lower_right{
  float: right;
  clear: right;
  z-index: -2;
}
/**************************/



/**************************/
/*Inner red lines*/

.INNER_LEFTRIGHT{
  width: 275px;
  height: 159px;
  position: absolute;
  z-index:-2;
}

.INNER_VERTICAL{
  width: 2px;
  height: 322px;
  position: absolute;
  z-index:-2;
  top: 316px;
  left: 274px;
}

#inner_left{
  top: 159px;
}

#inner_right{
  right: 0px;
  top: 159px;
}
/**************************/



.Bottom_Clear{
  clear:both;
}

/*Color Hex Values:

#FFFFFF White
#A81818 red
#438EDE sky blue
#313131 dark grey
#202020 background grey

Font Family:
Aharoni
*/
