body{
  background-image:url('Background-maybe.jpg');
  font-family: "Helvetica Neue",Helvetica,sans-serif;
  //background-image: #313131;
}

h1{
  color: #FFFFFF;
}

hr{
  border-style: solid;
  border-color: #A81818;
}

h2{
  color: #438EDE;
  text-align: center;
}

footer{
  color: #FFFFFF;
  text-align: center;
  width 100px;
  margin-left: auto;
  margin-right: auto;
}

#introduction{
  color: white;
  padding: 20px;
  width: 300px;
  position: relative;
  top: -225px;
  font-size: 115%;
}

#one{
  text-decoration: overline;
}

#body_wrapper{
  width: 1250px;
  margin-left: auto;
  margin-right: auto;
}

/**************************/
/*Exterior text*/

#name_first{
  text-align: left;
  float: left;
}

#name_last{
  text-align: right;
  float: right;
}
/**************************/


/**************************/
/*Left/Right Hexagon*/
/*Ratio:1.732*/

#intro_text{
  width: 320px;
  float: left;
}

#intro_face{
  width: 320px;
  float: right;
}

#intro_upper_left{
  width: 160px;
  height: 92px;
  float: left;
}

#intro_upper_right{
  width: 160px;
  height: 92px;
  float: right;
}

#intro_left{
  width: 7px;
  height: 190px;
  float: left;
  clear: right;
}

#intro_right{
  width: 7px;
  height: 190px;
  float: right;
}

#intro_lower_left{
  width: 160px;
  height: 92px;
  float: left;
}

#intro_lower_right{
  width: 160px;
  height: 92px;
  float: right;
}

/**************************/
/*Inner Text link attributes*/

a.inner_text:link{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:visited{
  color: #A81818;
  text-decoration: none;
}

a.inner_text:hover{
  color: #A81818;
  text-shadow: 0px 0px 30px #FFFFFF;
}
/**************************/


/**************************/
/*Centre Hexagaon Interior text*/

.inner_text{
  font-size: 25pt;
  position: absolute;
  color: #A81818;
}

#projects{
  left: 216px;
  top: 135px;
}

#work_experience{
  left: 50px;
  top: 340px;
}

#education{
  right: 210px;
  top: 340px;
}
/**************************/



/**************************/
/*Outer Hexagon Div*/

.outer_HEX_div{
  width: 550px;
  height: 638px;
  margin: 30px;
  position: relative;
  float: left;
}

/*Hexagon Divs*/

.hex_side{
  /*Ratio:33.022*/
  width: 10px;
  height: 320px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  z-index: -2;
}

.hex_topbottom{
  /*Ratio:1.732*/
  width: 275px;
  height: 159px;
  padding: 0px;
  border: 0px;
  margin: 0px;
  z-index: -2;
}

#hex_upper_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_upper_right{
  float: right;
  clear: right;
  z-index: -2;
}

#hex_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_right{
  float: right;
  clear: right;
  z-index: -2;
}

#hex_lower_left{
  float: left;
  clear: left;
  z-index: -2;
}

#hex_lower_right{
  float: right;
  clear: right;
  z-index: -2;
}
/**************************/



/**************************/
/*Inner red lines*/

.inner_leftright{
  width: 275px;
  height: 159px;
  position: absolute;
  z-index:-2;
}

.inner_vertical{
  width: 2px;
  height: 322px;
  position: absolute;
  z-index:-2;
  top: 316px;
  left: 274px;
}

#inner_left{
  top: 159px;
}

#inner_right{
  right: 0px;
  top: 159px;
}
/**************************/


.Bottom_Clear{
  clear:both;
}

/*Color Hex Values:
#FFFFFF White
#A81818 red
#438EDE sky blue
#313131 dark grey
#202020 background grey
*/
