body{ background-image: url('/Website/Static Assets/Background.jpg'); background-repeat: no-repeat; background-attachment:fixed; font-family: "Nova Square", cursive; }
p{ color:#CCCCC1; margin: 5px auto; }
ul{ position:relative; float:right; }
a{ color:#CCCCC1; text-decoration:none; }



/*Banner Items*/
.banner_wrapper{ position:relative; margin: 0 auto 30px auto; top:-7px; width: 650px; height: 39px; background-image: url("/Website/Static Assets/Banner/Long Banner.png"); background-size: cover; background-repeat: no-repeat; }
.banner_item{ width:80px; height:85px; float:right; }
.icon{ height:30px; width:35px; position:relative; margin: 0 auto; }
.icon_text{ display:none; color:#FFFFFF; text-align:center; }




/*Timeline Description Stuff*/
.timechunk_content{ position:relative; margin: 100px auto 0px auto; width:1000px; }




/*Timeline Stuff*/
.timeline{ position:relative; }
.time_vertical{ position:relative; background-color:rgba(48,95,163,0.9); width:2px; height:250px; margin: 25px auto; margin-top:0px; }
.time_hex{ width:37.5px; height:50px; background-image:url("/Website/Static Assets/Other Icons/Timeline-Node.png"); background-repeat:no-repeat; background-size:cover; }
.now{ color:#A81818; font-size:20pt; text-align:center; width:70px; margin-left:auto; margin-right:auto; margin-top:30px; }
.quarter{ color:#FFFFFF; background-color:rgba(255,255,255,0.3); width:200px; height:30px; margin:2px; float:left; text-align:center; }
.red_select{ border-width:2px 0px; border-style: solid;  border-color:#A81818; }
.hide{ display:none; }



/*Icon formatting*/
.extreme_icon{ position:relative; float:left; }
.uwaterloo_icon{ position:relative; float:left; }
.uwaterloo_text{ position:relative; margin: 10px 0px 10px 20px; font-size:23pt; text-align:center; float:left; }
.uwaterloo_logo{ position:relative; float:left; width:290px; }
.background_hexes{ position:absolute; left:0px; }




/*Text formatting*/
.extreme_description{ display:none; position:relative; width:400px;}
.uwaterloo_description{ display:none; position:relative; width:400px;}
.about{ color:#305FA3; font-size:16pt; }
.i_did{ color:#A81818; font-size:16pt; }
.description{ position:relative; float:right; width:500px; font-size:13pt; color:#CCCCC1; }




.timeline_wrapper{ position:relative; margin: 25px auto; width:816px; }
.logo_flow{ float:right; display:none; }
.description_flow{ float:right; display:none; }




.clear_both{ clear:both; }
