body{ background-image: url('/Website/Static Assets/Background.jpg'); background-repeat: no-repeat; background-attachment:fixed; font-family: "Nova Square"; }
hr{ width:600px; margin: 70px auto 100px auto; border-color:#A81818; }
.content_wrapper{ position:relative; width:1200px; margin: 100px auto;}




/*Banner Items*/
.banner_wrapper{ position:relative; margin: 0 auto 30px auto; top:-7px; width: 650px; height: 39px; background-image: url("/Website/Static Assets/Banner/Long Banner.png"); background-size: cover; background-repeat: no-repeat; }
.banner_item{ width:80px; height:85px; float:right; }
.icon{ height:30px; width:35px; position:relative; margin: 0 auto; }
.icon_text{ display:none; color:#FFFFFF; text-align:center; }




/*Title Items*/
.title{ color:#FFFFFF; }
.project_title{ position:relative; float:left; margin: 68px -15px; }
.graphic_even{ position:relative; float:left; }
.graphic_odd{ position:relative; float:right; }



/*Left/Right braces*/
.leftbrace{ position:relative; float:left; width:90px; height:180px; }
.rightbrace{ position:relative; float:left; width:90px; height:180px; }




.skill_list_even{ position:relative; float:right; list-style:none; margin-right:90px; text-align:right; }
.skill_list_odd{ position:relative; float:left; list-style:none; margin-left:50px; }
li{ color:#A81818; font-size:14pt; margin: 10px 0; }




/*Descriptions*/
.server_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }
.site_desc{ position:relative; float:right; width:50%; margin: 1em 2em; color:#CCCCC1; }
.gol_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }




.clear_both{ clear:both; }
