body{ background-image: url('../Static Assets/Background.jpg'); background-repeat: no-repeat; font-family: "Nova Square"; }



/*Banner Items*/
.banner_wrapper{ position: relative; margin: 0px auto 30px auto; top: -8px; width: 650px; height: 39px; background-image: url("../Static Assets/Banner/Long Banner.png"); background-size: cover; background-repeat: no-repeat; }
.banner_item{ width: 80px; height: 85px; float: right; }
.icon{ height: 30px; width: 35px; position: relative; margin: 0 auto; }
.icon_text{ display: none; color: #FFFFFF; text-align: center; }




.content_wrapper{ position:relative; width:1200px; margin: 0 auto; }




.graphic{ position:relative; float:left; }




/*Title Items*/
.title{ color:#FFFFFF; }
.project_title{ position:relative; float:left; margin: 68px -15px; }




/*Left/Right braces*/
.leftbrace{ position:relative; float:left; width:90px; height:180px; }
.rightbrace{ position:relative; float:left; width:90px; height:180px; }




.skill_list{ position:relative; float:left; list-style-image:none; }
li{ color:#A81818; font-size:14pt; }




/*Descriptions*/
.server_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }
.site_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }
.gol_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }




.clear_both{ clear:both; }
