body{ background-image: url('/Website/Static Assets/Background.jpg'); background-repeat: no-repeat; background-attachment:fixed; font-family: "Nova Square"; }
hr{ width:600px; margin: 70px auto 100px auto; border-color:#A81818; }
.body_wrapper{ position:relative; max-width:1000px; margin: 100px auto; }




/*Banner Items*/
.banner_wrapper{ position: relative; margin: 0px auto 30px auto; top: -8px; width: 650px; height: 39px; background-image: url("/Website/Static Assets/Banner/Long Banner.png"); background-size: cover; background-repeat: no-repeat; }
.banner_item_wrapper{ width: 20%; float:left; }
.banner_item{ width: 80px; height: 85px; margin: 0 auto; }
.banner_item a{ width:35px; display:block; margin: 3px auto; }
.icon{ height: 30px; width: 35px; position: relative; margin: 0 auto; }
.icon_text{ display: none; color: #FFFFFF; text-align: center; }




/*Title Items*/
.title{ color:#FFFFFF; }
.project_title{ position:relative; float:left; margin: 68px -15px; }
.graphic_even{ position:relative; width:50%; margin: 0 auto; }
.graphic_odd{ position:relative; width:50%; margin: 0 auto; }




/*Project Icons*/
.project_icon{ position:relative; margin: 0px auto;  display:block; }
#db{ width:40px; height:50px; }
#web{ color:#305FA3; font-size:16pt; width:300px; text-align:center; }
.white_square{ position:relative; margin:2px; float:left; background-color:#FFFFFF; width:15px; height:15px; }
.blue_square{ position:relative; margin:2px; float:left; background-color:#305FA3; width:15px; height:15px; }
.conway_icon{ position:relative; width:42px; height:42px; }



/*Left/Right braces*/
.leftbrace{ position:relative; float:left; width:90px; height:180px; }
.rightbrace{ position:relative; float:left; width:90px; height:180px; }




.skill_list_even{ position:relative; float:right; list-style:none; margin-right:90px; text-align:right; }
.skill_list_odd{ position:relative; float:left; list-style:none; margin-left:50px; }
li{ color:#A81818; font-size:14pt; margin: 10px 0; }




/*Descriptions*/
.server_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }
.site_desc{ position:relative; float:right; width:50%; margin: 1em 2em; color:#CCCCC1; }
.gol_desc{ position:relative; float:left; width:50%; margin: 1em 2em; color:#CCCCC1; }




.clear_both{ clear:both; }



@media (min-width: 970px){
	.graphic_even, .graphic_odd, .server_desc { width:100%; }
}
@media (max-width: 680px){
	.banner_wrapper{ width:100%; background-image:none; border-bottom: 2px solid rgba(255,255,255,0.6); }
}